/**
* @package under-construction-lite
*/
@media (max-width: 1100px) {

}
@media (max-width: 1017px) {

}	
@media (max-width: 992px) {
.logo{ text-align: center;  }
.contactinfo {text-align: center;  }
.commingsoon-heading{text-align: center;  }
.home .pageheading h1{text-align: center;  }
.home .pagecontent p, .home .pagecontent{text-align: center;  }
.commingsoon{margin-top:50px;}
.home #content{min-height:auto;}
 
}
@media (max-width: 900px) {
    
}
@media (max-width: 800px) {

}
@media (max-width: 766px) {

}
@media (max-width: 500px) {

}
@media (max-width: 410px) {

}